*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px dashed red;
}
body {
    font-family: sans-serif;
}
#explorer
{
    display: flex;
    height: calc(100vh - 90px) ;
    /* height impostata cosi perche abbiamo dato altezza che prende tutta la view port meno l' ipotetica barra del footer  */
}
/* inizio stilizzazione main  */
#main
{
    background-color: #141922;
    width:calc(100vw - 230px) ;
    overflow-y: auto;
    /* comando inserito per dire al main di scrollare quando ne ha bisogno e stiamo parlando dell' asse delle y  */
    padding-top:90px  ; 
    padding-left: 20px ;
    padding-right: 20px ;

    
}
#banner
{
    display: flex;
    justify-content: end;
    position: fixed;
    width:calc(100% - 230px);
    height: 90px;
    align-items: center;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
#banner a
{
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 15px 40px 15px;
    border: 1px solid white;
    border-radius: 30px;
    font-weight:bold ;


}
.list.main
{
    color: #7D7F84;
    margin-bottom: 16px;
    
}
.list.main ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 22px;
}
.container.first.row
{
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}
.container.first.row h2
{
    margin-bottom: 35px;
    font-size: 20px;
    color: white;
}
.container_bottom_row
{
    display: flex;
    gap: 16px;
}
.container_album
{
    width: calc(100% / 6 - 16px / 6 * 5);
    /* postilla per ricordarlo a me stesso da usare sempre al container e non alle immagini  */
}
.album
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cover
{
    
    margin-bottom: 20px;
}
#text
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.album #cover img
{
    width: 100%;
}
.album h3
{
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.album span
{
    font-size: 10px;
    color: #7D7F84;
}
/* fine stilizzazione main  */
/* inizio stilizzazione barra laterale  */
#barra_laterale
{
    overflow-y: auto;
    /* test  */
    background-color: black;
    height: 100%;
    /* misura di test inserita inizialmente  */
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
}
.container.aside_head
{
    display: flex;
    flex-direction: column;

}
.container.aside_head #logo
{
    max-width: 130px;
    margin-bottom: 24px;
}
.container.elements ul
{
    list-style-type: none;
    margin-bottom: 24px;

}
.container.elements li
{
    padding: 7px 0 7px 0;

}
.container.elements li a
{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
}
.container.elements li a img
{
    width: 20px;
}
.container.playlist
{
    overflow-y: auto;
}
.container.playlist h3
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
}
#container_fix_part
{
    display:flex ;
    align-items: center;
    gap: 10px;
    color: #7D7F84;
    margin-bottom: 22px;
}
#container_fix_part .fa-solid
{font-size: 37px;}

.container.playlist ul
{
    margin-bottom: 0;
    
}
.container.playlist ul li
{
    padding: 0;
    margin-bottom: 25px;
    color: #7D7F84;
    font-size: 12px;
}
.container.aside_bottom
{

}
#aside_bottom_head
{
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 10px;
}
#aside_bottom_head a
{
    text-decoration: none;
    color: #7D7F84;
}
.container.aside_bottom hr
{
    max-width: 190px;
    margin-bottom: 14px;
}
#aside_bottom_person
{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
#aside_bottom_person .fa-regular
{
    background-color: #7D7F84;
    font-size: 25px;
    border-radius: 30px;
}  
#aside_bottom_person span
{
    font-size: 12px;
}

/* fine stilizzazione barra laterale */
/* inizio stilizzazione footer */
footer
{
    background-color: #282828;
    /* test  */
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.container.footer.first
{
    display: flex;
    width: 210px;
    justify-content: space-between;
}
/* abbiamo dato max misura al container cosi da limitare immagine idem spiegazione per comando subito sotto */
#container_album_footer
{
    display: flex;
    gap: 12px;
    align-items: center;
}
#img_footer_song
{
    max-width: 42px;
}
#img_footer_song img
{
    width: 100%;
}
#text_footer_song
{
    color: white;
    font-size: 12px;

}
#text_footer_song div:nth-of-type(1)
{
    margin-bottom: 5px;
}
#text_footer_song div:nth-of-type(2)
{
    color: #7D7F84;
}
#container_icon_song
{
    display: flex;
    align-items: center;
    gap: 14px;
    color:#7D7F84 ;
}

/* fine stilizzazione footer */